header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.logo h1 {
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1.2rem;
}

.container {
    background: #f9f9f9;
    padding: 2rem 10rem;
}

@media only screen and (min-width: 1400px) {
    .container {
        padding: 2rem 25rem;
    }
}

    .flex-item-1 h2 {
        display: inline-block;
        flex: none;
        white-space: nowrap;
        width: 290px;
        overflow: hidden;
        text-overflow: ellipsis;
    }


.btn-dark {
    width: 50%;
    margin: 0% 25%;
}

/* Product Card */

.flexbox {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 15px 30px 7px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.2rem;
    
}

.flexbox img {
    object-fit: center center/cover;
    width: 50%;
}

.flexbox.flex-reverse {
    flex-direction: row-reverse;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-item-1 p {
    text-decoration: none;
    color: #000000;
}

.flex-item-1 h2 {
    text-overflow: none;
    white-space: normal;
}

/* Footer */

.footer-flex {
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
text-align: start;
}

.footer-banner {
justify-content: center;
text-align: center;
font-size: 1.6rem
}

.footer-flex > div:nth-child(2),
.footer-flex > div:nth-child(1) {
margin-bottom: 0; 
}

.box {
width: 30%;
margin: auto;
}
