@media only screen and (min-width: 600px) {
    body {
        max-width: 1080px;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 2rem;
    }

    .logo h1 {
        padding: 0;
    }

    ul li {
        display: inline-block;
    }
}