* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    background: #f9f9f9;
    padding: 2rem;
}

h1 {
   font-size: 3rem;
   font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    font-size: 1.2rem;
}

.footer-flex a:hover {
    color: #01213F;
    font-weight: bold;
}

ul {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}

ul li {
    line-height: 2.0;
}

ul li a {
    cursor: pointer;
}

.btn-light {
    color: #C48B98;
    font-size: 1.1rem;
    border: 4px solid #C48B98;
    padding: 1rem 3rem;
    margin-top: 2rem;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    padding-bottom: 1rem;
}

/* Winter Deals */

.showcase {
    padding: 2rem 1.5rem;
    background: #01213F;
    color: #ffffff;
}

.box {
    display: flex;
    flex-direction: column;
    border: 5px solid #ffffff;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    text-align: center;
}

.showcase h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
}

.showcase h3 {
    font-size: 1.8rem;
}

/* Product Card */


.card {
    padding: 1rem;
    background: #ffffff;
}

.card h2 {
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.card p {
    text-decoration: line-through;
    color: #8C8C8C;
    font-weight: 300;
}

.card h3 {
    font-weight: 300;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex ul li {
    display: inline-block;
    align-self: flex-end;
}

.flex ul li img {
    width: 25px;
    height: 25px;
}

/* Footer */
footer {
    background: #e0e0e0;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.footer-flex > div:nth-child(2),
.footer-flex > div:nth-child(1) {
    margin-bottom: 3rem; 
}

.footer-flex h3 {
    margin-bottom: 0.8rem;
}

.footer-flex .footer-list ul li {
    font-weight: 200;
}

.footer-banner {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}