* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

/* Utilities */

h1 {
   font-size: 3rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #01213F;
    font-weight: bold;
}

ul {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 400;
}

ul li {
    padding: 0.4rem;
}

ul li a {
    cursor: pointer;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    padding-bottom: 1rem;
}

/* Footer */
.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.footer-flex > * div {
    margin-bottom: 3rem;
}

.footer-flex h3 {
    margin-bottom: 0.8rem;
}

.footer-flex .footer-list ul li {
    font-weight: 200;
}

.footer-banner {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}